.introduction {
    position: relative;
    max-width: 70%;
    padding: 20px;
    border-bottom: solid;
    border-color: #00ff9d;
    box-sizing: border-box;
}

.introduction p {
    font-size: 1.08em;
}

.profile-pic {
    max-width: 20%;
    float: left;
    padding: 1%;
    border-radius: 50%;
    margin-right: 10px;
    border-style: solid;
    border-color: #00ff9d;
}