.latest-repos ul li a {
    all: unset;
}

.latest-repos {
  max-width: 30%;
  padding: 20px;
  display: block;
  box-sizing: border-box;
  border-bottom: solid;
  border-color: #00ff9d;
}

.latest-repos h2 {
  text-align: left;
}

.latest-repos ul {
  position: relative;
}

.latest-repos ul li {
  position: relative;
  left: 0;
  color: var(--primary-text-color);
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid var(--primary-container-color);
  cursor: pointer;
}

.latest-repos ul li:hover {
  left: 10px;
}

.latest-repos ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
}

.latest-repos ul li:hover span {
  color: var(--secondary-text-color);
  transition: 0.5s;
}

.latest-repos ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00ff9d;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.latest-repos ul li:hover:before {
  transform: scaleX(0.92);
}



